---
Checks:          'cppcoreguidelines-*,clang-diagnostic-*,clang-analyzer-*,portability-*,performance-*,bugprone-*,misc-*,-misc-unused-parameters,-c++98-compat'
HeaderFilterRegex: 'src/.*hpp'
AnalyzeTemporaryDtors: true
...
